
.custom-navbar{
    /* // background: linear-gradient( to bottom, #262323, #121111); */
    background: none;
    display: flex;
    justify-content: space-between;
    /* // align-items: center; */
    padding: 10px;
    align-content: center;
    position: absolute;
    z-index: 2;
    width: 98%;
    
    .navbar-title{
        /* >a
        {
            color: white !important;
            margin-left: 1px;
            font-size: 1.5rem;
            font-weight: bolder;
            
        }

        >h5{
            color: white;
        } */
        display: flex;
        color: white;
    }

    
    .nav-links{
        display: flex;
        align-items: center;
        
        a{
            color: white;
            margin-left: 50px;
            font-size: 16px;
        }
        
    }
    .nav-links :hover{

        color: #c72b48;
        font-size: 16px;
        font-weight: bolder;
    }
}

.brand-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;

    /* text-decoration: none; */
    /* margin-top: 15%;
    height: 5rem; */
    color:white;


}

.logo{

    height: 4rem;
    margin-bottom: 5px;
    margin-right: -10px;
   
}