
[nz-form] {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main{

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    background: linear-gradient(to right, black,rgba(0, 0, 0, 0.897), #00000020);
    /* // font-size: xx-large; */
    overflow-y: scroll;
    padding-bottom: 2rem;
}
.container{

    width: 55%;
    align-self: center;
    display: flex;
    /* // border: 1px solid red; */
    height: 570px;
    justify-content: space-between;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0px;
    background-color: whitesmoke;
    box-shadow: rgb(20, 20, 20) 0px 0px 20px 3px;
}
.phone-select{
    width: 70px;
}

.register-are{
    margin-bottom: 8px;
}

.child{
    /* // margin-bottom: 22px;
    // margin-left: 700px;
    // margin-top: 5px; */
    
}

#signup-heading{
    text-align: center;
    color: #b90424;
    font-size: 30px;
    font-weight: 500;
}

nz-form-control{

   
}

.form{
    
    flex-direction: column;
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}
.nz-label{

    
}
.nz-input{

  
}



.login-form-button{
    border: 1px solid #b90424;
    /* // border: none; */
    background: none;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #b90424;
}

.login-form-button:hover{

    background: #b90424;
    color: white;
}

.left-div{

    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #F64D4D, #AD1D1D);
    height: fit-content;
   
    
    display: flex;
}

.background-img{

    height: 570px;
    width: 400px;

}

.right-div{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: white;

}

@media screen and (max-width: 800px) {
    .left-div{
        display: flex;
    }

    .right-div{
        width: 100%;
        
    }
    .main{
        padding-top: 12rem;
    }
  }